body {
    background-color: rgb(255, 203, 134);
    color: blue;
    font-family: arial, helvetica , sans-serif;




}

h1 {

    color:brown
}
a {
    color:aqua
;    text-decoration: none;
 }